.header8{
    color: rgb(255, 255, 255);
    position: absolute;
    top:2.5vh;
    left:35vw;
}

button{
    display: block;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    }

#logout{
        position: absolute;
        top: 12.5vh;
        left:57.5vw;
    }

#profile{
    position: absolute;
    top: 12.5vh;
    left:37.5vw;
}

.b6{
    position: absolute;
    top: 12.5vh;
    left:47.5vw;
}
.t1{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}

.t6{
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
}
th,td {
	border: 1px black solid;
}
#table1{
    width:1000px;
    background-color: white;
    border: 1px black solid;
}

.newthree{
    position: relative;
    left:25vw;
    top:30vh;
    font-weight: bold;
    color: black;
}

@media screen and (max-width: 1080px) {
    .header8{
        text-align: center;
        color: rgb(255, 255, 255);
        position: absolute;
        top:2.5vh;
        left:22.5vw;
    }
    
    button{
        display: block;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        }
    
    #logout{
        position: absolute;
        top: 15vh;
        left:67.5vw;
        }
    
    #profile{
        position: absolute;
        top: 15vh;
        left:22.5vw;
    }
    
    .b6{
        position: absolute;
        top: 15vh;
        left:45vw;
    }
    .t1{
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: bold;
    }
    
    th,td {
        border: 1px black solid;
    }
    #table1{
        width: 1000px;
        background-color: white;
        border: 1px black solid;
    }
    
    .newthree{
        position: relative;
        left:2.5vw;
        top:30vh;
        font-weight: bold;
        color: black;
    }

}

@media screen and (max-width: 600px) {
    .header8{
        color: rgb(255, 255, 255);
        text-align: center;
        position: absolute;
        top:2.5vh;
        left:2.5vw;
    }
    
    button{
        display: block;
        background-color: white;
        border-radius: 5px;
        text-align: center;
        }
    
    #logout{
        position: absolute;
        top: 15vh;
        left:80vw;
        }
    
        #profile{
        position: absolute;
        top: 15vh;
        left:10vw;
    }
    
    .b6{
        position: absolute;
        top: 15vh;
        left:45vw;
    }
    .t1{
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: bold;
    }
    
    th,td {
        border: 1px black solid;
    }
    #table1{
        width: 1000px;
        background-color: white;
        border: 1px black solid;
    }
    
    .newthree{
        position: relative;
        left:2.5vw;
        top:30vh;
        font-weight: bold;
        color: black;
    }

}