
@media only screen and (max-width: 600px) {
    /* For tablets: */
    
    input{
        display:block;

    }
    
  }

button{
    display: block;
    text-align: center;
    
    position: relative;
    top: 50%;
    left:50%;
    margin-top: 20px;
    transform: translate(-50%,-50%);
  }
.username-one{
    display: block;
    text-align: center;
    
    position: relative;
    top: 50%;
    left:50%;
    margin-top: 20px;
    transform: translate(-50%,-50%);
}
.password-one{
  display: block;
  text-align: center;
  
  position: relative;
  top: 50%;
  left:50%;
  margin-top: 20px;
  transform: translate(-50%,-50%);
}

  @media only screen and (max-width: 1000px) {
    /* For desktop: */
    input{
        display: block;
    }  
    
  } 
#signup{
    display: block;
}
.signin{
    text-align: center;
    width: 60%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: rgb(179, 225, 241);
}
