.head100{
  text-align: center;
  color:#ffffff;
  position: fixed;
  top:0vh;
  left:45vw;
}

button{
    display: block;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    }


    #logout2{
      position: fixed;
  top:50vh;
  left:62.5vw;
    }
  
    #critical{
      position: fixed;
  top:50vh;
  left:37.5vw;
    }
  
    #change{
      position: fixed;
  top:50vh;
  left:47.5vw;
    }

    .c1{
      color: rgb(255, 255, 255);
      position: fixed;
  top:60vh;
  left:37.5vw;
  
    }
  
    .c2{
      color: rgb(255, 255, 255);
      position: fixed;
  top:60vh;
  left:57.5vw;
    }
  
    .c3{
      color: black;
      position: fixed;
  top:70vh;
  left:55vw;
    }

    .t100{
      color: #ffffff;
    }

 .username-one{
  position: fixed;
  top:15vh;
  left:42.5vw;
 }   
  
 .username-two{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  position: fixed;
  top:15vh;
  left:52.5vw;
 }    

 .name-one{
  position: fixed;
  top:20vh;
  left:42.5vw;
 }   
  
 .name-two{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  position: fixed;
  top:20vh;
  left:52.5vw;
 }  
 
 .email-one{
  position: fixed;
  top:25vh;
  left:42.5vw;
 }   
  
 .email-two{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  position: fixed;
  top:25vh;
  left:52.5vw;
 }    

 .dob-one{
  position: fixed;
  top:30vh;
  left:42.5vw;
 }   
  
 .dob-two{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  position: fixed;
  top:30vh;
  left:52.5vw;
 }    

 .address-one{
  position: fixed;
  top:35vh;
  left:42.5vw;
 }   
  
 .address-two{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  position: fixed;
  top:35vh;
  left:52.5vw;
 }
 
 .contactnm-one{
  position: fixed;
  top:40vh;
  left:42.5vw;
 }   
  
 .contactnm-two{
  color: black;
  background-color: aliceblue;
  font-weight: bold;
  position: fixed;
  top:40vh;
  left:52.5vw;
 }    
  

@media screen and (max-width: 1080px) {
  .head100{
    text-align: center;
    color:#000000;
    position: fixed;
    top:0vh;
    left:35vw;
  }
  
  button{
      display: block;
      background-color: white;
      border-radius: 5px;
      text-align: center;
      }
  
  
      #logout2{
        position: fixed;
    top:50vh;
    left:65vw;
      }
    
      #critical{
        position: fixed;
    top:50vh;
    left:25vw;
      }
    
      #change{
        position: fixed;
    top:50vh;
    left:40vw;
      }
  
      .c1{
        color: rgb(255, 255, 255);
        position: fixed;
    top:60vh;
    left:25vw;
    
      }
    
      .c2{
        color: rgb(255, 255, 255);
        position: fixed;
    top:60vh;
    left:55vw;
      }
    
      .c3{
        color: black;
        position: fixed;
    top:65vh;
    left:45vw;
      }
  
   .username-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:15vh;
    left:32.5vw;
   }   
    
   .username-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:15vh;
    left:52.5vw;
   }    
  
   .name-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:20vh;
    left:32.5vw;
   }   
    
   .name-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:20vh;
    left:52.5vw;
   }  
   
   .email-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:25vh;
    left:32.5vw;
   }   
    
   .email-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:25vh;
    left:52.5vw;
   }    
  
   .dob-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:30vh;
    left:32.5vw;
   }   
    
   .dob-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:30vh;
    left:52.5vw;
   }    
  
   .address-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:35vh;
    left:32.5vw;
   }   
    
   .address-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:35vh;
    left:52.5vw;
   }
   
   .contactnm-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:42.5vh;
    left:32.5vw;
   }   
    
   .contactnm-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:42.5vh;
    left:52.5vw;
   }    
}


@media screen and (max-width: 600px) {
  .head100{
    text-align: center;
    color:#000000;
    position: fixed;
    top:0vh;
    left:25vw;
  }
  
  button{
      display: block;
      background-color: white;
      border-radius: 5px;
      text-align: center;
      }
  
  
      #logout2{
        position: fixed;
    top:50vh;
    left:75vw;
      }
    
      #critical{
        position: fixed;
    top:50vh;
    left:10vw;
      }
    
      #change{
        position: fixed;
    top:50vh;
    left:35vw;
      }
  
      .c1{
        color: black;
        position: fixed;
    top:60vh;
    left:35vw;
    
      }
    
      .c2{
        color: black;
        position: fixed;
    top:65vh;
    left:35vw;
      }
    
      .c3{
        color: black;
        position: fixed;
    top:75vh;
    left:45vw;
      }
  
   .username-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:15vh;
    left:15vw;
   }   
    
   .username-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:15vh;
    left:45vw;
   }    
  
   .name-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:20vh;
    left:15vw;
   }   
    
   .name-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:20vh;
    left:45vw;
   }  
   
   .email-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:25vh;
    left:15vw;
   }   
    
   .email-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:25vh;
    left:45vw;
   }    
  
   .dob-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:30vh;
    left:15vw;
   }   
    
   .dob-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:30vh;
    left:45vw;
   }    
  
   .address-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:35vh;
    left:15vw;
   }   
    
   .address-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:35vh;
    left:45vw;
   }
   
   .contactnm-one{
    color: rgb(255, 255, 255);
    position: fixed;
    top:42.5vh;
    left:15vw;
   }   
    
   .contactnm-two{
    color: black;
    background-color: aliceblue;
    font-weight: bold;
    position: fixed;
    top:42.5vh;
    left:45vw;
   }    
}