button{
  display: block;
  background-color:transparent;
  border-radius: 5px;
  text-align: center;
  }

  .head{
    position:absolute;
    left:900px;
    top:125px;
    text-align: center;
    background-color: transparent;
    color:#ffffff;
  }

  .main{
    text-align: center;
  }

  .b20{
    position:absolute;
    left:900px;
    top:600px;
  }

    .username{
      position:absolute;
      left:900px;
      top: 225px;
    }

    .usernamel{
      position:absolute;
      left:800px;
      top:225px;
    }

    .password{
      position:absolute;
      left:900px;
      top: 275px;
    }

    .passwordl{
      position:absolute;
      left:800px;
      top:275px;
    }

    .nameus{
      position:absolute;
      left:900px;
      top: 325px;
    }

    .nameusl{
      position:absolute;
      left:800px;
      top:325px;
    }

    .email{
      position:absolute;
      left:900px;
      top: 375px;
    }

    .emaill{
      position:absolute;
      left:800px;
      top:375px;
    }

    .dob{
      position:absolute;
      left:932.5px;
      top: 425px;
    }

    .dobl{
      position:absolute;
      left:800px;
      top:425px;
    }

    .address{
      position:absolute;
      left:900px;
      top: 475px;
    }

    .addressl{
      position:absolute;
      left:800px;
      top:475px;
    }

    .contnm{
      position:absolute;
      left:900px;
      top: 525px;
    }

    .contnml{
      position:absolute;
      left:737.5px;
      top:525px;
    }